.banner-top100 {
    background: transparent;
    //margin: -70px calc(var(--padding-section)*-1) 0;
    text-align: center;
    height: 280px;
    position: relative;
}

.banner-top100 svg {
    position: relative;
    margin-top: 20px;

}